@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-image: url("./background.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #ffff;
}

input{
    background-color: #bbbbbb;
    border-radius: 5px;
    border: 1px solid black;
    
}

.header-container{
    margin-top: 15%;
}

h6{
    color: #bbbbbb;
    font-weight: lighter;
    font-size: 1rem;
    margin-top: 5rem;
    display: flex;
    justify-content: left;
    padding: 0;
    margin: 0;
    margin-left: 1px;
}

#dateInputFrm{
    font-size: 3rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 10rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 2.6rem;
}